.navbar {
    border: 2px black;
    border-bottom: black;
    background-color: rgb(190, 190, 176);
}

.nav-list {
    min-width: 696px;
    list-style: none;
    font-size: 20px;
    color: green;
}

a {
    display: inline;
    text-align: center;
    color: green;
    transform-style: flat;
}

span {
    color: #F1f5f8;
}

h3 {
    /* text-align: center; */
    padding-right: 12px;
    padding-left: 100px;
    font-weight: bold;
    font-size: 30px;
}

.nav-list li {
    display: inline;
}

.container {
    text-align: center;
    padding-top: 80px;
    background-color: rgb(46, 44, 50);
    margin-top: 150px;
}

.btn {
    margin-bottom: 20px;
}